.prof-names {
    /* outline: none; */
    border: none;
    /* border-radius: 5rem; */
    color: #7b1113;
    /* font-size: 1.2rem; */
    font-weight: bold;
    text-transform: capitalize;
    /* letter-spacing: 0.2rem; */
    margin: 2% 0px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* height: 4rem; */
    /* width: 10rem; */
    margin-bottom: 0%;
    /* margin-right: 10px; */
    background: #7b1113;
    color: #fff;
}

.prof-names:hover::before {
    width: 100%;
}

.prof-names:hover {
    color: #ffff;
    background: #014421;
}