/* PARA SA EVALUATION */
.tabs{
    margin: auto;
  }
  #evaluation {
    min-height: 100vh;
    width: 100vw;
    background-position: center;
    background-color: #e9dbc1;
  }
  
  #evaluation .nav {
    margin-left: auto;
    margin-right: auto;
    /* width: 68.9%; */

  }
  #evaluation .nav button[type="button"] {
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #7b1113;
    height: 5rem;
    width: 14rem;
    color: #fff;
    padding: 0.75rem !important;
    text-align: center !important;
    /* margin-bottom: 0 !important;
    margin-left: -1px !important;
    margin-right: 0 !important; */
    margin: auto;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
  }
  
  #evaluation .nav button[type="button"]:hover::before {
    width: 100%;
  }
  
  #evaluation .nav button[type="button"]:hover {
    color: #ffff;
    background: #014421;
  }
  .evalbtn.active{
    background-color: #fff !important;
    color: #7b1113 !important;
    text-transform: uppercase !important;
    font-size: 1.3rem !important;
  }
  
  /* .nav-tabs .nav-link.active#btn-instructionalSkills,
  .nav-tabs .nav-link.active#btn-classManagement,
  .nav-tabs .nav-link.active#btn-personalQualities,
  .nav-tabs .nav-link.active#btn-sfRelations
   {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .nav-tabs .nav-link.active#btn-instructionalSkills,
  .nav-tabs .nav-link.active#btn-classManagement,
  .nav-tabs .nav-link.active#btn-personalQualities,
  .nav-tabs .nav-link.active#btn-sfRelations { */
    /* margin-right: -10px; */
    /* margin-right: 0;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
    border-radius: 0 !important; */
    /* border-top-right-radius: 0 !important; */
    /* padding: 0;
  } */
  #btn-classManagement,
  #btn-personalQualities,
  #btn-sfRelations{
    margin: auto;
  }
  #evaluation ul li a.nav-link{
    padding:0 !important;
  }
  .btncat{
    padding: 0 !important;
  }

  #evaluation .tab-content {
    background: #fff;
    width: 78% !important;
    margin-top: -0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    
    border-radius: 0 0 1.5rem 1.5rem;
    -webkit-box-shadow: 0 0 2rem #333;
    box-shadow: 0 0 2rem #333;
    text-align: center;
    
  }
  html,body {padding:0;margin:0;}
.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
ul.row.nav.nav-tabs.tab-content {


webkit-box-shadow: transparent;
box-shadow: none !important;
}
form .likert li label {width:100%;}
/* .tab-content .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
.tab-content .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
.tab-content .buttons .clear {background-color: #e9e9e9;}
.tab-content .buttons .submit {background-color: #67ab49;} 
.tab-content .buttons .clear:hover {background-color: #ccc;}
.tab-content .buttons .submit:hover {background-color: #14892c;}  */

#evaluation form{
  font-size: 15px;
  justify-content: left;
  text-align: center;
}
label[class=statement]{
  font-size: 16px;
}

.inputBox textarea{
  font-size: 16px;
}
.inputBox h2{
  text-align: left;
  margin-top: 2rem;
  margin-left: 4rem;
  font-size: 16px;
}

 .buttons.tab-content{
 
  margin-bottom: 0%;
  position: relative;
  box-shadow: none !important;
  /* top: -5vh; */
  background-color: transparent !important;
  /* right: 20.5%; */
 
  
 
}
.buttons.tab-content button{
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7b1113;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 10rem;
  margin-bottom: 0%;
  margin-right: 10px;
  
 
  
  background: #7b1113;
  color: #fff;
}
/* .btn-review{
  position: relative;
  left: 63%  ;
 
 
 } */

.buttons.tab-content button:hover::before,
.form-group button:hover::before {
  width: 100%;
}

.buttons.tab-content button:hover,
button#cancel:hover,
.form-group button:hover {
  color: #ffff;
  background: #014421;
}
.arrowup{
  display: inline-block;
  font-size: 30px;
  position:fixed; 
  bottom: 5vh;
  right: 5%;
  /* left:36%;
  top: -11vh; */
  color: #7b1113; 
  
}
/* .arrowup i{
  -webkit-box-shadow: 0 0 2rem #333;
    box-shadow: 0 0 2rem #333;
} */

#EmailContent form input[type="submit"] {
  border-radius: 1rem;
}

#comments textarea {
  border-image-source: linear-gradient(to top right, #800000 0%, #228b22 100%);
  border-width: 0.3rem !important;
  border-image-slice: 1 !important;
  border-radius: 1rem;
  font-size: 13px;
}
.progress{
  height: 2rem;
  width: 80% !important;
   border-radius: 0% !important;
    box-shadow: none !important;
    background-color: #7b1113 !important;
    margin: auto;
    position: relative
    
  }
.progress-bar.progress-bar-striped.progress-bar-animated{
  width:40%; 
  font-size:12px;
  background-color: #014421;
}
.progress p{
  position: relative;
  text-align: center;
}
.savestatus.tab-content{
  background-color: transparent !important;
  box-shadow: none !important;
  position:relative;
  top:-3vh;
  margin-bottom: -3vh!important;
color: #7b1113;
}

@media only screen and (max-width: 482px) {
  button[type="button"][class="btn btn-lg cancel"]{
    margin-top: 10%;
  }
  
}
.categories {
  overflow: hidden;
  background-color: #7b1113;
  margin: auto;
  width: 80% !important;
  margin-top: -0.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  text-align: center;
}

.categories a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.categories a:hover {
  background-color: #ddd;
  color: #7b1113;
  border-radius: 0px !important;
}

.categories a.active {
  background-color: #ffffff;
   color: #7b1113 !important;
   text-transform: uppercase !important;
   font-size: 17px;
   border-radius: 0px !important;
}

.categories .activeCategory {
  background-color: #ffffff;
   color: #7b1113 !important;
   text-transform: uppercase !important;
   font-size: 17px;
   border-radius: 0px !important;
}

.categories .icon {
  display: none;
}

.categories a.display-none {
  display: none;
}

@media screen and (max-width: 1260px){
.categories{
  font-size: 14px;
}
}
@media screen and (max-width: 1260px) {
  .categories a:not(:first-child) {display: none;}
  .categories a.icon {
    float: right;
    display: block;
  }

  .categories a.display-none {
    display: block;
  }
}

@media screen and (max-width: 1260px) {
  .categories.responsive {position: relative;}
  .categories.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .categories.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .categories a.display-none {
    display: block;
  }
}





