<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<body style="font-family:Roboto;">
    <div style="width:600px;
                height:700px;">
        <div style="width:600px;
                    height:120px;
                    background-color:#7b1113;">
            <img src="img_location1" 
                alt="UP Cebu Logo" 
                style="float:left; margin-left:25px; margin-top:10px;"  
                width="100" 
                height="100">
            <p style="color: #fff; font-family:Roboto; font-size:13pt; text-align:center; margin:0px;">                
                <br><br>UNIVERSITY OF THE PHILIPPINES CEBU - HIGH SCHOOL 
            </p>
            <p style="color: #fff; font-family:Roboto; font-size:10pt; text-align:center; margin:0px;"> 
                Gorordo Avenue, Lahug, Cebu City
            </p>
        </div>


        <div style="width:600px;
                    height:500px;
                    float:right;
                    background-color:#e9dbc1;">
            <p style="color: #000000; font-family: roboto; font-size: 10pt; text-align:justified; margin:15px;">
                <br>Hello -student- !<br>
                <br>We formally welcome you to University of the Philippines Cebu High School. We are pleased to
                    work with you along the school year. <br>
                <br>In the end of the school year/semester, the institution would like to know how your professors/teachers
                    perform in the class; as the institution strives to maintain honor and excellence among its constituents.
                    This email includes your credentials for the school's online Students' Evaluation for Teachers (SET).<br>
                <br>USERNAME: -username- <br>PASSWORD: -password- <br>
                <br>We also hope to be in touch with you before the SET period will commence by the end of the semester. Thank you.  
        </div>


        <div style="width:600px;
                    height:50px;
                    float:right;
                    background-color:#014421;">
            <a href="https://www.gmail.com"> 
            <img src="img_location2"
                alt="Gmail logo"
                hspace= "20"
                style="float:right; margin-top:10px; margin-right:120px"
                width="35"
                height="30">
            </a> 
            <p style="color: #fff; font-family:Roboto; font-size:11pt; text-align:right; margin:0px;">                
                    <br>For concerns and suggestions, connect with us through: 
            </p>
        </div>
    </div>



</body>