#statistics .card1 {
  height: 15rem;
  width: 85%;
  margin: auto;
  margin-top: 8rem;
  vertical-align: middle;
  border-width: 0px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 3%;
  -moz-box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}

#statistics .card2 {
  height: 30rem;
  width: 80%;
  margin: auto;
  /* margin-left: -20%; */
  vertical-align: middle;
  border-width: 0px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 10%;
  -moz-box-shadow: 0 10px 6px -6px black;
  -webkit-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}

/* #statistics .card2:hover {
  height: 33rem;
  width: 65%;
} */

#statistics p {
  color: #7b1113;
  font-size: 1.7em;
  font-family: Roboto;
}
