* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 font-family: 'Roboto';

  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: black;
  background-color: black;
}

#header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  z-index: 1000;
  background: linear-gradient(to top right, #800000 0%,#228B22 100%);
  position: relative;
}

#header .schoolWebsiteName img{
  float: left;
  width: 60px;
  margin-top: -5px;
}

#header .schoolWebsiteName h1{
  margin-left:70px;
  margin-top: 0px;
  color:#e9dbc1;
  font-size: 18px;
}

#header .schoolWebsiteName h2{
  margin-left:70px;
  margin-top: 5px;
  font-style: italic;
  color:#e9dbc1;
  font-size: 15px;
}

#register {
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-color: #e9dbc1;
}

#register .nav{

 margin: auto;
  width: 700px;
}

#register .nav h2{
  font-size: 20px;
  color: #7b1113;
  border-radius: 1rem;
  border-style:outset;
  border-color: #7b1113;
}

#register .nav input[type="button"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7b1113;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3rem;
  width: 8rem;
  margin-bottom: 1rem;
  margin-left: 0%;
  background:#7b1113;
  color: #fff;
}

#register .nav input[type="button"]:hover::before {
  width: 100%;
}

#register .nav input[type="button"]:hover {
  color:#ffff;
  background: #014421;
}

#register .heading h1 {
  font-size: 4rem;
  color: #7b1113;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

#register form {
  background: #fff;
  width: 700px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 2rem #333;
  box-shadow: 0 0 2rem #333;
}

#register form .inputBox{
  position: relative;
  text-align: center;
}

/* #register form .inputBox input, #register form .inputBox textarea {
  outline: none;
  border: .15rem solid #333;
  border-radius: 1.5rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
} */

/* adjust layout and spacing */
#register form .inputBox input, #register form .inputBox textarea {
    outline: none;
    border: .15rem solid #333;
    border-radius: 1.3rem;
    margin: 1.65rem 0;
    padding: 0 1rem;
    background: none;
    height: 3.80rem;
    width: 85%;
    font-size: 2rem;
}

#register form .inputBox input:focus ~ h3,
#register form .inputBox input:valid ~ h3, #register form .inputBox textarea:focus ~ h3,
#register form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}

#register form .inputBox h3 {
  font-size: 1.4rem;
  position: absolute;
  top: 3rem;
  left: 10%;
}

#register form input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7b1113;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  background:#7b1113;
  color: #fff;
}

#register form input[type="submit"]:hover::before {
  width: 100%;
}

#register form input[type="submit"]:hover {
  color:#ffff;
  background: #014421;
}

#register form .mailBox{
  width: 50%;
   margin: auto;
}

#footer {
  background: linear-gradient(to top right, #800000 0%,#228B22 100%);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer .contactLinks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 1rem 0;
  margin: auto;
}

#footer .contactLinks h3 {
  font-size: 18px;
  color:#e9dbc1;
  margin-top: 1rem;

}

#footer .contactLinks a {
  color: #e9dbc1;
  font-size: 14px;

}

/* Additional css for layout */
.nav-tabs .nav-link.active#btn-admin, .nav-tabs .nav-link.active#btn-student {
    background-color: transparent !important;
    border-color: transparent !important;
}

.nav-tabs .nav-link#btn-admin,
.nav-tabs .nav-link#btn-student {
    margin-right: -10px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link#btn-admin:hover,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link#btn-student:hover {
    border-color: transparent;
}

.col-md-6.half {
    margin-right: -25px;
}

form.add {
  padding: 70px 20px 30px;
}

.row-md-4.email {
    margin-top: -5px;
}
