* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: black;
  background-color: black;
}

#header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  z-index: 1000;
  background: linear-gradient(to top right, #800000 0%, #228b22 100%);
  position: sticky;
}

#header .schoolWebsiteName img {
  float: left;
  width: 60px;
  margin-top: -5px;
}


#header .schoolWebsiteName h1 {
  margin-left: 70px;
  margin-top: 0px;
  color: #e9dbc1;
  font-size: 18px;
}

#header .schoolWebsiteName h2 {
  margin-left: 70px;
  margin-top: 5px;
  font-style: italic;
  color: #e9dbc1;
  font-size: 15px;
}

#header .schoolWebsiteName a {
  right: 0;
}

#register {
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-color: #e9dbc1;
}

#register .nav {
  margin: auto;
  width: 700px;
}

#register .nav h2 {
  font-size: 20px;
  color: #7b1113;
  border-radius: 1rem;
  border-style: outset;
  border-color: #7b1113;
}

#register .nav input[type="button"] {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #7b1113;
  height: 3rem;
  width: 8rem;
  color: #fff;
  padding: 0.75rem !important;
  text-align: center !important;
  margin-bottom: 0 !important;
  margin-left: -1px !important;
  margin-right: 0 !important;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
}

#btn-student {
  margin-left: -2px;
}

#register .nav input[type="button"]:hover::before {
  width: 100%;
}

#register .nav input[type="button"]:hover {
  color: #ffff;
  background: #014421;
}

#register .heading h1,
.heading h1 {
  font-size: 4rem;
  color: #7b1113;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

#register form {
  background: #fff;
  width: 700px;
  margin-top: -0.25rem;
  border-radius: 0 0 1.5rem 1.5rem;
  -webkit-box-shadow: 0 0 2rem #333;
  box-shadow: 0 0 2rem #333;
}

#register form .inputBox {
  position: relative;
  text-align: center;
}

/* #register form .inputBox input, #register form .inputBox textarea {
  outline: none;
  border: .15rem solid #333;
  border-radius: 1.5rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
} */

/* adjust layout and spacing */
#register form .inputBox input,
#register form .inputBox textarea {
  /* outline: none; */
  border: 0.15rem solid #333;
  /* border-radius: 1.3rem; */
  margin: 1.65rem 0;
  padding: 0 1rem;
  background: none;
  height: 3.8rem;
  width: 85%;
  font-size: 2rem;

  border-image-source: linear-gradient(to top right, #800000 0%, #228b22 100%);
  border-width: 0.30rem !important;
  border-image-slice: 1 !important;
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  outline: none !important;
  border-radius: 0 !important;
}

#register form .inputBox input:focus ~ h3,
#register form .inputBox input:valid ~ h3,
#register form .inputBox textarea:focus ~ h3,
#register form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -0.5rem;
  color: #ff3300;
}

#register form .inputBox h3 {
  font-size: 1.4rem;
  position: absolute;
  top: 3rem;
  left: 10%;
}

#register form input[type="submit"],
button#cancel,
input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7b1113;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 10rem;
  margin: 2rem 1.5rem;
  background: #7b1113;
  color: #fff;
}

#register form input[type="submit"]:hover::before,
button#cancel:hover::before,
input[type="submit"]:hover::before {
  width: 100%;
}

#register form input[type="submit"]:hover,
button#cancel:hover,
input[type="submit"]:hover {
  color: #ffff;
  background: #014421;
}

#register form .mailBox {
  width: 50%;
  margin: auto;
}

#footer {
  background: linear-gradient(to top right, #800000 0%, #228b22 100%);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer .contactLinks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 1rem 0;
  margin: auto;
}

#footer .contactLinks h3 {
  font-size: 18px;
  color: #e9dbc1;
  margin-top: 1rem;
}

#footer .contactLinks a {
  color: #e9dbc1;
  font-size: 14px;
}

/* a#btn-student.active {
    font-size: 25px;
    color: #7B1113;
    background: white;
}

a#btn-admin.active {
  font-size: 25px;
  color: #7B1113;
  background: white;
} */

/* Additional css for layout */
.nav-tabs .nav-link.active#btn-admin,
.nav-tabs .nav-link.active#btn-student {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link#btn-admin,
.nav-tabs .nav-link#btn-student {
  /* margin-right: -10px; */
  margin-right: 0;
  margin-bottom: 0 !important;
  border: 1px solid transparent;
  border-radius: 0 !important;
  /* border-top-right-radius: 0 !important; */
  padding: 0;
}

.nav-tabs .nav-link#btn-admin input['button'],
.nav-tabs .nav-link#btn-student input['button'] {
  border-radius: 0 !important;
}

#register .nav input[type="button"]:focus,
.student.focus, .admin.focus  {
  background-color: #fff !important;
  color: #7B1113 !important;
  text-transform: uppercase !important;
  font-size: 1.2rem !important;
}

  /* .student.focus {
    margin-left: 2px !important;
  } */

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link#btn-admin:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link#btn-student:hover {
  border-color: transparent;
}

.col-md-6.half {
  margin-right: -25px;
}

form.add {
    padding: 2.75rem 1.50rem !important;
}

.row-md-4.email {
  margin-top: -5px;
}

.contactLinks {
  padding: 2rem 0;
}

.schoolWebsiteName {
  padding: 0.75rem 0;
}

#footer {
  background: linear-gradient(to top right, #800000 0%, #228b22 100%);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer .contactLinks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 1rem 0;
  margin: auto;
}

#footer .contactLinks h3 {
  font-size: 18px;
  color: #e9dbc1;
  margin-top: 1rem;
}

#footer .contactLinks a {
  color: #e9dbc1;
  font-size: 14px;
}

/* STYLE SA DASHBOARD */
/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
  perspective: 1500px;
  background-color: #e9dbc1;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to bottom, #7b1113 0%, #014421 100%);

  opacity: 80%;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;

  opacity: 200%;
}

#sidebar .user-logo img {
  height: 50px;
  border-radius: 200%;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e9dbc1;
}
#sidebar .components a {
  color: #e9dbc1;
  font-size: 15px;
}

#sidebar ul.components a:hover {
  color: #7b1113;
  background-color: #ffed8a;
}

#sidebar ul p {
  color: #e9dbc1;
  padding: 10px;
  font-size: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #ffed8a;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.navIcon .navbar-header i {
  color: #7b1113;
}
.navIcon .navbar-header #sidebarCollapse {
  background-color: #ffed8a;
}
#sidebar .nav-link input[type="button"] {
  outline: none;
  border-color: #ffed8a;
  border-style: groove;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;

  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 15rem;
  background: #7b1113;
  color: #ffed8a;
}
#sidebar .nav-link input[type="button"]:hover::before {
  width: 100%;
}
#sidebar .nav-link input[type="button"]:hover {
  color: #7b1113;
  background: #ffed8a;
}

#sidebar .logout .nav-link input[type="button"] {
  margin-top: 20px;
  outline: none;
  border-color: #ffed8a;
  border-style: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;

  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 10rem;
  background: #ffed8a;
  color: #7b1113;
}
#sidebar .logout .nav-link input[type="button"]:hover::before {
  width: 100%;
}
#sidebar .logout .nav-link input[type="button"]:hover {
  color: #ffff;
  background: #014421;
}

/* ---------------------------------------------------
    DASHBOARD DROPDOWN
----------------------------------------------------- */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 6.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-item:hover {background-color: transparent;}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#navIcon {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#dashboardWelcomeMessage {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
}

#Contents .welcomeMsg img {
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.adminDashboardButtons {
  position: relative;
  bottom: 21vh;
}

#Contents .adminDashboardButtons .nav {
  display: flex;
  justify-content: center;
  margin-right: 3.5%;
}

#Contents .studentDashboardButtons .nav {
  left: 40%;
  margin-top: -17.5vh;
  position: relative;
}
#Contents .nav input[type="button"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7b1113;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;

  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 15rem;
  background: #7b1113;
  color: #fff;
}
#Contents .nav input[type="button"]:hover::before {
  width: 100%;
}
#Contents .nav input[type="button"]:hover {
  color: #ffff;
  background: #014421;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
}

/* ---------------------------------------------------
    Others
----------------------------------------------------- */
